.toastBottomLeftCurve {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;

  transition: transform .3s cubic-bezier(.7,1,.75,1);
}

.toastBottomLeftCurve > div {
  position: static;

  transition: transform .3s cubic-bezier(.8,.3,.6,1);

  border: 1px solid rgba(0,0,0,0.2);
  border-top-right-radius: 8px;
  padding: 1em;
  color: white;
  background: #4C4C4C;
}
